$primary-color: #f57c19;
$color-danger: #ff4d4f;
$main-accent-color-dark: #1c1c1c;
$main-accent-color-light: #e2e2e2;
$overlay-border-color: rgba(0, 162, 255, 0.473);
$overlay-tooltip-color: rgba(0, 162, 255, 0.473);
$selected-overlay-border-color: #f57c198c;
$main-icon-color: #B932DA;

$header-height: 64px;
